.valueIncrease{
    border-radius: 50%;
    width: 215.45px;
    margin: auto;
    margin-bottom: 4%;
}
.logo{
    width: 20%;
    margin: auto;
}
.upperAboutTitleBackground
{
    background: url("../img/about.jpg");
    background-size: cover;
    color: white;
    text-shadow: 0 2px 5px grey;
    padding: 6%;
    box-shadow: inset 0 2px 15px black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}


.upperAboutTitleBackground h1{
    font-size: 6em;
}
.aboutPara
{
    font-size: 2em;
    text-align: justify;
}
.sponsorBackground
{
    background: url("../img/corporate.jpg");
    background-size: cover;
    color: white;
    text-shadow: 0 2px 5px grey;
    padding: 6%;
    box-shadow: inset 0 2px 15px black;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
}
.sponsorsLogo{
    width: 200px;
    box-shadow: 0 0 10px black;
}