@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 .bulb
 {
   width: 75%;
 }
 .headingHome{
  color: red;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 10%;
  text-transform: uppercase;
  
}
.contentHome
{
  font-size: 2rem;
  margin-bottom: 20px;
  color: white;
  font-family: 'Raleway', sans-serif;
  
}
.outfitHome
{
  height: 100vh;
}

.knowHome{
  background-color: khaki;
  padding: 12px;
  margin-top: 30px;
}
@media screen and (max-width:660px)
{.contentSideHome
  {
  position: relative;
  }
  
  .headingHome{
    color: red;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 7vw;
    line-height: 10%;
    text-transform: uppercase;
    
  }
  .contentHome
{
  font-size: 5.8vw;
}
}